.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    height: 7rem;
    align-items: center;
    background: #f9f9fd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
    gap: 3rem;
}

.nav-link {
    cursor: pointer;
    font-size: 1.6rem;
}

.nav-link a {
    font-weight: 500;
    color: var(--clr-primary);
}
