.home-container {
    max-width: 120rem;
    margin: 10rem auto;
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
}

.home-left {
    flex: 1;
    margin-top: 3rem;
    max-width: 52rem;
}

.home-left h2 {
    margin-bottom: 2.5rem;
    color: #220f9b;
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height: 5.5rem;
}

.home-left p {
    margin-bottom: 5rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #8e8e8e;
}

.text-btn {
    border: none;
    background: var(--clr-primary);
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border-radius: 12px;
    padding: 16px 38px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.1s ease;
    text-decoration: none;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px #1900b4;
    cursor: pointer;
}

.home-left .text-btn:hover {
    color: var(--clr-primary);
    background: #f8f8f8;
    transition: 0.2s;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px 4px 6px #fff;
}

.home-right {
    flex: 1;
    max-width: 52rem;
}

.home-right img {
    width: 100%;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .home-left {
        margin: 0 auto;
    }

    .home-right {
        margin: 0 auto;
        margin-top: 5rem;
        max-width: 45rem;
    }
}
